<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.biz.member.mapper.GoodMapper">
	<!-- 좋아요 여부 검색 -->
	<select id="findGood" parameterType="map" resultType="String">
		select GOOD from member_act where MEMBER_ID=${userid} and CAFE_ID=${cafeid} and GOOD="Y";
	</select>
	
	<!-- 좋아요 추가or수정 판단 -->
	<select id="addUpdateGood" parameterType="map" resultType="String">
		select REVIEW from member_act where MEMBER_ID=${userid} and CAFE_ID=${cafeid};
	</select>
	
	<!-- 좋아요 추가식 -->
	<select id="addGood" parameterType="map">
		insert into member_act(MEMBER_ID,CAFE_ID,GOOD) values(${userid},${cafeid},'Y');
	</select>
	
	<!-- 좋아요 수정식 -->
	<select id="updateGood" parameterType="map">
		update member_act set GOOD='Y' where MEMBER_id=${userid} and CAFE_ID=${cafeid};
	</select>
</mapper>