<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.biz.member.mapper.MemberMapper">
	
	<select id="membertest" resultType="com.spring.biz.member.dto.MemberDTO">
		select * from member;
	</select>
	
	<!-- 회원가입 -->
	<insert id="addMember">
		insert into member(email,pw,member_name,member_tel,birthdate,gender)
			values
			(#{email},#{pw},#{member_name},#{member_tel},#{birthdate},#{gender})
	</insert>
	
	<!-- member_like -->
	<insert id="addLike">
		insert into member_like(member_id,cafe_type,mood) 
			values
			((select last_insert_id()),#{cafe_type},#{mood});
	</insert>
	
	<!-- 가입여부 -->
	<select id="emailCheck" resultType="int">
		select count(email) from member where email=#{email}
	</select>
	
	<!-- 로그인처리 -->
	<select id="login" resultType="com.spring.biz.member.dto.MemberDTO" parameterType="String">
		select member_id,email,pw from member where email=#{email} and pw=#{pw}
	</select>
	
	<!-- 개인정보불러오기 -->
	<select id="getMemberInfo" resultType="com.spring.biz.member.dto.MemberDTO" parameterType="String">
	    SELECT a.member_id, a.email, a.pw, a.member_name, a.member_tel, a.birthdate, a.gender, 
	           b.cafe_type, b.mood 
	    FROM member a
	    INNER JOIN member_like b ON a.member_id = b.member_id 
	    WHERE a.member_id = #{member_id}
</select>
	
	<!-- 개인정보 수정 -->
	<update id="updateInfo">
		update member set email=#{email},pw=#{pw},member_tel=#{member_tel},gender=#{gender} where member_id=#{member_id}
	</update>
	
	<!-- member_like 수정 -->
	<update id="updateLike">
		update member_like set cafe_type=#{cafe_type},mood=#{mood} where member_id=#{member_id}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteAccount">
		delete from member where member_id=${member_id};
	</delete>
	<delete id="deleteType">
		delete from member_like where member_id=${member_id};
	
	</delete>
	
	<!-- 아이디 찾기 -->
	<select id="getEmail" parameterType="String" resultType="com.spring.biz.member.dto.MemberDTO">
		select id from member
		where member_name = #{member_name}
	</select>
</mapper>